<section
  class="h-screen flex items-center justify-content-center"
  style="
    background-image: radial-gradient(
      farthest-corner circle at 100% 0% in oklab,
      oklch(61.12% 0.107 229.43) 0%,
      oklch(80.26% 0.04 230.35) 100%
    );
  "
>
  <div class="card flex justify-content-center px-4 my-auto">
    <p-card class="shadow-1" [style]="{ width: '280px' }">
      <div class="flex justify-content-center text-center">
        <h1>Escuela Antonia Estrada Monzón</h1>
      </div>

      <form
        [formGroup]="loginForm()"
        class="w-full mt-6"
        (ngSubmit)="onLogin()"
      >
        <span class="p-float-label mt-5 mb-2">
          <input
            class="w-14rem"
            formControlName="email"
            type="text"
            pInputText
          />
          <label for="email">Correo Electrónico</label>
        </span>

        <span class="p-float-label mt-5 mb-2">
          <p-password
            [feedback]="false"
            [toggleMask]="true"
            formControlName="password"
            class="w-15rem"
          ></p-password>
          <label for="password">Contraseña</label>
        </span>

        <small class="hidden text-red-300 mt-3"
          >*Correo o contraseña no encontrado</small
        >

        <div class="card flex justify-content-center mt-5">
          <p-button type="submit" label="Iniciar sesión"></p-button>
        </div>
      </form>
      <p-button (click)="onGooglePop()" icon="pi pi-google" />
    </p-card>
  </div>
</section>
